@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
  background: linear-gradient(135deg, #d6cda5, #8a7622);
  height: 100%;
}
.visit-image img{
  padding-top: 7%;
    width: 100%;
    /* display: none; */
}

.filters-form{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top:8%;
}

.filters-form .filters{
  padding-right:30%;
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #ffffff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 20%;
  border-radius: 5px;
  background: linear-gradient(135deg, #d6cda5, #8a7622);
}



.container form{
  padding: 30px 0 0 0;
}
.container form .form_row{
  
  padding-bottom: 20%;
  display: flex;
}
form .form_row .options{
  width: 100%;
  height: 60%;
  margin: 0 10px;
  position: relative;
}
.form .form_row .options.stable{
  padding: 50%;
}

.class_select{
  padding: 2%;
}

.button{
  height: 45px;
  margin-top: 15%;
  margin-bottom:1%;
  
}

.button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #d6cda5, #8a7622);
}

.button input:hover{
 background: linear-gradient(-135deg, #d6cda5, #8a7622);
 }



 .filter-results{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top:8%;
}

.container_results{
  max-width: 700px;
  width: 100%;
  background-color: #ffffff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container_results .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container_results .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 20%;
  border-radius: 5px;
  background: linear-gradient(135deg, #d6cda5, #8a7622);
}



























.main-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    border-radius : 10%;
    
    
}
.main-area{
    font-size: 12px;
    
}
select{
    border:none;
    padding: 16px 20px;
    border-radius:5px;
    background-color: #6a8a22;
    max-block-size: 50%;
    font-family: cursive;
}
  
select:focus{
    outline:none;
  }
.filters{
    
    padding-top: 5%;

    padding: 0 35%;
}

.filter-header{
    padding : 0% 5%;
    
}
.filter-results{
    padding-top:10%;
    padding-bottom: 10%;
}
.filter-results p{
    font-family: 'Verdana',Helvetica,Arial,Lucida,sans-serif;
}
.filter-results .result-1{

    margin-left:20%;
    text-decoration: none;
    display: -moz-inline-grid;
   
}
.filter-results h2{
    padding : 5% 5%;
    font-size: large;
    
}
.filter-results img{
    border-radius: 5%;
    max-width: 30%;
    min-width: 30%;
}


.result-1 p{
    color:#6a8a22;
    padding: 0.5% 7%;
    
    font-size: x-large;
    
    
}

footer{
    position: absolute;
    left:0;
    right: 0;
    background: #56870eb8;
    height: auto;
    width: auto;
    padding-top: 1%;
    color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.footer-content h4{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
    
}


.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #f5d6d6;
  padding-bottom:2%;
}
@media screen and (max-width: 900px) {
    .titlu{
      padding-top:35%;
      padding-bottom:10%;
      font-size: 170%;
    }
    .main-title{
      padding-bottom: 10%;
      padding-top: 10%;
    }
    .filter-results img{
        min-width: 40%;
    }
    .filters{
        padding-bottom: 20%;
    }
    .filter-results{
        padding-bottom: 20%;
    }
    .main-image{
        min-width: 60%;
    }
}
@media screen and (max-width: 770px) {
    .titlu{
      padding-top:35%;
      padding-bottom:10%;
    }
    .main-title{
      padding-bottom: 10%;
      padding-top: 10%;
    }
    .main-image{
        min-width: 80%;
    }
  }
  @media screen and (max-width: 600px) {
    .titlu{
      padding-top:50%;
      font-size: 130%;
    }
  }
  @media screen and (max-width: 450px) {
    .titlu{
      padding-top:70%;
    }
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    min-height: 100vh;
  }
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: #6a8a22;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  nav .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
  }
  .navbar .logo a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  nav .navbar .nav-links{
    line-height: 70px;
    height: 100%;
  }
  nav .navbar .links{
    display: flex;
  }
  nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
  }
  nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .links li:hover .htmlcss-arrow{
    transform: rotate(180deg);
    }
  
  nav .navbar .links li .arrow{
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
  }
  nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #6a8a22;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: block;
  }
  .navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar .links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .navbar .links li .sub-menu {
    line-height: 40px;
  }
  .navbar .links li .sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links li .sub-menu {
    display: block;
  }
  .navbar .search-box{
    position: relative;
     height: 40px;
    width: 40px;
  }
  .navbar .search-box i{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .navbar .search-box .input-box{
    position: absolute;
    right: calc(100% - 40px);
    top: 80px;
    height: 60px;
    width: 300px;
    background: #6a8a22;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
  }
  .navbar.showInput .search-box .input-box{
    top: 65px;
    opacity: 1;
    pointer-events: auto;
    background: #6a8a22;
  }
  .search-box .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #6a8a22;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
  }
  .search-box .input-box input{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 280px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    border: none;
  }
  .navbar .nav-links .sidebar-logo{
    display: none;
  }
  .navbar .bx-menu{
    display: none;
  }
  @media (max-width:920px) {
    nav .navbar{
      max-width: 100%;
      padding: 0 25px;
    }
  
    nav .navbar .logo a{
      font-size: 27px;
    }
    nav .navbar .links li{
      padding: 0 10px;
      white-space: nowrap;
    }
    nav .navbar .links li a{
      font-size: 15px;
    }
  }
  @media (max-width:800px){
    .navbar .bx-menu{
      display: block;
    }
    nav .navbar .nav-links{
      position: fixed;
      top: 0;
      left: -100%;
      display: block;
      max-width: 270px;
      width: 100%;
      background:  #6a8a22;
      line-height: 40px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
      z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sidebar-logo .logo-name{
      font-size: 25px;
      color: #fff;
    }
      .sidebar-logo  i,
      .navbar .bx-menu{
        font-size: 25px;
        color: #fff;
      }
    nav .navbar .links{
      display: block;
      margin-top: 20px;
    }
    nav .navbar .links li .arrow{
      line-height: 40px;
    }
  nav .navbar .links li{
      display: block;
    }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  
  }
  .navbar .links li .sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu  li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow{
    transform: rotate(0deg);
    }
    .navbar .links li .sub-menu {
      display: none;
    }
    .navbar .links li .sub-menu span{
      display: flex;
      align-items: center;
    }
  
    .links li .sub-menu {
      display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu{
      display: none;
    }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links {
        display: block;
      }
      .navbar .nav-links.show1 .links .htmlcss-arrow{
          transform: rotate(180deg);
  }
      .navbar .nav-links.show2 .links {
        transform: rotate(90deg);
      }
  }
  @media (max-width:370px){
    nav .navbar .nav-links{
    max-width: 100%;
  } 
  }
  