body {
    font-family: 'Verdana',Helvetica,Arial,Lucida,sans-serif;
    background-image: linear-gradient(360deg,#f4edd0,transparent);
    
}
.titlu h1{
    font-size: 3.5em;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-family: 'Verdana',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 530;
    line-height: 1.1;
    color: #7ebc22b8;
    
}
.main-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    border-radius : 10%;
    
    
}
.main-area{
    font-size: 12px;
    
}
select{
    border:none;
    padding: 16px 20px;
    border-radius:5px;
    background-color: #139e79ba;
    max-block-size: 50%;
    font-family: cursive;
}
  
select:focus{
    outline:none;
  }
.filters{
    
    padding-top: 5%;

    padding: 0 35%;
}

.filter-header{
    padding : 0% 5%;
    
}
.filter-results{
    padding-top:10%;
    padding-bottom: 10%;
}
.filter-results p{
    font-family: 'Verdana',Helvetica,Arial,Lucida,sans-serif;
}
.filter-results .result-1{

    margin-left:20%;
    text-decoration: none;
    display: -moz-inline-grid;
   
}
.filter-results h2{
    padding : 5% 5%;
    font-size: large;
    
}
.filter-results img{
    border-radius: 5%;
    max-width: 30%;
    min-width: 30%;
}


.result-1 p{
    color:#139e79ba;
    padding: 0.5% 7%;
    
    font-size: x-large;
    
    
}

footer{
    position: absolute;
    left:0;
    right: 0;
    background: #56870eb8;
    height: auto;
    width: auto;
    padding-top: 1%;
    color: #fff;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.footer-content h4{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
    
}


.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #f5d6d6;
  padding-bottom:2%;
}
@media screen and (max-width: 900px) {
    .titlu{
      padding-top:35%;
      padding-bottom:10%;
      font-size: 170%;
    }
    .main-title{
      padding-bottom: 10%;
      padding-top: 10%;
    }
    .filter-results img{
        min-width: 40%;
    }
    .filters{
        padding-bottom: 20%;
    }
    .filter-results{
        padding-bottom: 20%;
    }
    .main-image{
        min-width: 60%;
    }
}
@media screen and (max-width: 770px) {
    .titlu{
      padding-top:35%;
      padding-bottom:10%;
    }
    .main-title{
      padding-bottom: 10%;
      padding-top: 10%;
    }
    .main-image{
        min-width: 80%;
    }
  }
  @media screen and (max-width: 600px) {
    .titlu{
      padding-top:50%;
      font-size: 130%;
    }
  }
  @media screen and (max-width: 450px) {
    .titlu{
      padding-top:70%;
    }
  }