body{
    background-image: linear-gradient(85deg,#f4edd0,transparent);
}

.titlu{
    display: flex;
    justify-content: center;
    color:palevioletred;
    font-size: 60px;
    padding: 5%;
}

.subtitlu{
    color:palevioletred;
    font-size: 40px;
    padding: 5%;
}

u{
    color:palevioletred;
}
.div_image{
    display:flex;
    justify-content: center;
}
.image{
    padding: 5%;
    border-radius: 45%;

    max-width: 50%;
    min-width: 20%;

    max-height: 50%;
    min-height: 20%;
}

.image1{
    padding: 5%;
    border-radius: 45%;

    width: 150%;
    height: 120%;
}

pre{
    flex-wrap: wrap;
    font-family: cursive;
    font-size: 20px;
    color:palevioletred;
}
.div_link{
    display:flex;
    justify-content: center;
}

.link{
    padding: 5%;
    font-family: cursive;
    font-size: 200%;
    color:rgb(113, 73, 87);
}
.div3{
    display: flex;
    justify-content: center;
}

footer{
    position: absolute;
    left:0;
    right: 0;
    background: #56870eb8;
    height: auto;
    width: auto;
    padding-top: 1%;
    color: #fff;
    width: 100%;
  }
  
  .footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
  }
  
  .footer-content h4{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
    
  }
  .about-text p{
    padding-top: 2em;
    padding-left: 1em;
    
  }
  
  .footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #f5d6d6;
  padding-bottom:2%;
  }