.img{
    display: flex;
    justify-content: center;
}

body{
    background-image: linear-gradient(lightblue,yellow);
}
p{
    color: blueviolet;
    font-size: 75% ;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
.a{
    color: red;
    font-size: 75%;
    font-style: italic,bold;

}
ol{
    color: red;
    font-size: 75%;
}
.div_pre{
    display: flex;
    justify-content: space-around;

}
pre{
    align-self: flex-start;
    color:green;
    font-size: 50%;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size: 150%;
}
h3{
    display:flex;
    font-size: 150%;
    justify-content: center;
}
.location{
    display: flex;
    justify-content: center;
}

.buttons{
    display:flex;
    justify-content: space-between;
}

.left{
    justify-self: flex-start;
    padding: 25%;
    font-size: 75%;
    color:lightgreen;
    border-radius: 10px;
}

.right{
    justify-self: flex-start;
    padding: 25%;
    font-size: 75%;
    color:lightgreen;
    border-radius: 10px;
}

.image{
    max-width: 200%;
    min-width: 20%;

    max-height:120%;
    min-height: 20%;

    border-radius: 45%;
    padding: 10%;
}