body {
  background-image: url("../images/background.png");
  background-color: #000000;
}


h1{
  padding-top: 100px;

}

h1,h2,h3{
 
  margin: 10px auto ;
  line-height: 35px;
  font-size: 32px;
  color: #ffffff;
  padding-bottom:2%;
  text-align: right;
  padding-right: 100px;
  line-height: 0.7;

}

h4{

  margin: 10px;
  line-height: 28px;
  font-size: 18px;
  color: #ffffff;
  padding-bottom:2%;
  text-align: right;
  padding-right: 100px;


}

h5{

  text-align: right;
  padding-right: 100px;

}

.button {
  font-family: Myriad W01 SmBd;
  font-size: .8125rem;
  line-height: 1rem;
  display: inline-flex;
  align-items: center;
  border: none;
  height: 27px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  padding: 2%;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #f07300;
  transition: background-color .2s ease;


  }

* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}


a {

  text-decoration: none;
  font-family: cursive;
}
a:visited{
  text-decoration: none;
}
li {

  list-style: none;

}

.navbar {

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 20px;

  background-color: rgb(0, 0, 0);

  color: #fff;

}

.nav-links a {

  color: #fff;

}

/* LOGO */

.logo {

  font-size: 20px;
  color: #fff;

}

.logo a:visited {
  text-decoration: none;
  color: #fff;
}

/* NAVBAR MENU */

.menu {

  display: flex;

  gap: 1em;

  font-size: 18px;

}

.menu li:hover {

  background-color: #000000;

  border-radius: 5px;

  transition: 0.3s ease;

}

.menu li {

  padding: 5px 14px;

}

/* DROPDOWN MENU */

.atractii {

  position: relative;
  text-decoration: none;

}

.ticket {
  position: relative;

}

.dropdown-atractii {

  background-color: rgb(66, 66, 66);

  padding: 1em 0;

  position: absolute;

  display: none;

  border-radius: 8px;

  top: 35px;

}

.dropdown-ticket {

  background-color: rgb(66, 66, 66);

  padding: 1em 0;

  position: absolute;

  display: none;

  border-radius: 8px;

  top: 35px;


}

.dropdown-atractii .dropdown-ticket li+li {

  margin-top: 10px;

}


.dropdown-atractii li {

  padding: 0.5em 1em;

  width: 8em;

  text-align: center;

}

.dropdown-ticket li {

  padding: 0.5em 1em;

  width: 8em;

  text-align: center;

}

.dropdown-atractii .dropdown-ticket li:hover {

  background-color: #4c9e9e;

}


.atractii:hover .dropdown-atractii {

  display: block;

}

.ticket:hover .dropdown-ticket {

  display: block;

}


/*RESPONSIVE CHECKBOX*/

input[type=checkbox] {

  display: none;

}

/*HAMBURGER MENU*/

.hamburger {

  display: none;

  font-size: 24px;

  user-select: none;

}

/*RESPONSIVE*/

@media (max-width: 768px) {

  .menu {

      display: none;

      position: absolute;

      background-color: teal;

      right: 0;

      left: 0;

      text-align: center;

      padding: 16px 0;

  }

  .menu li:hover {

      display: inline-block;

      background-color: #4c9e9e;

      transition: 0.3s ease;

  }

  .menu li+li {

      margin-top: 12px;

  }

  input[type=checkbox]:checked~.menu {

      display:block;


  }

  .hamburger {

      display: block;

  }

  .dropdown-ticket {

      left: 50%;

      top: 30px;

      transform: translateX(35%);

  }

  .dropdown-atractii {

      left: 50%;

      top: 30px;
      padding-left: 0.5em;
      transform: translateX(35%);

  }

  .dropdown-atractii .dropdown-ticket li:hover {

      background-color: #4c9e9e;



  }

}
