body{
    font-family: 'Verdana',Helvetica,Arial,Lucida,sans-serif;
    background-image: linear-gradient(85deg,#f4edd0,transparent);
  }
.continut{
    display: flex;
    justify-content: center;
    height: 1200px;
}
.log_in{
    padding-top: 10%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    font-size: 250%;
   
}
label{
    padding: 15%;
    font-size: 150%;
    line-height: 3;
}
input[value=Submit]{
    background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
	height: 2em;
	width: 70%;
	font-size: 1em;
	text-shadow: none; 
    border-radius: 5%;
    padding: 14px 20px;
    padding-bottom:8%;
  margin: 8px 0;
}


input[value=Submit]:hover{
    background: #45a049;
    border:  #45a049;
}

.form{
    
    margin-left: 0;
    margin-right: 0;
}
.inp{
    padding: 10%;
    font-size: 100%;
    background-color: lightgreen;
}
select{
    font-size: 150%;
    color: green;
    border-radius: 15%;
    background-color: bisque;
}

@media screen and (max-width: 770px) {
    .log_in{
      padding-top:35%;
      padding-bottom:10%;
    }
    
  }
  @media screen and (max-width: 600px) {
    .log_in{
      padding-top:50%;
      
    }
  }
  @media screen and (max-width: 450px) {
    .log_in{
      padding-top:70%;
    }
  }

  footer{
    position: absolute;
    left:0;
    right: 0;
    background: #56870eb8;
    height: auto;
    width: auto;
    padding-top: 1%;
    color: #fff;
  }
  
  .footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
  }
  
  .footer-content h4{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
    
  }
  
  
  .footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #f5d6d6;
  padding-bottom:2%;
  }