body{
    background: linear-gradient(135deg, #d6cda5, #8a7622);
}

.titlu{
    display: flex;
    justify-content: left;
    color:white;
    font-size: 60px;
    padding: 4%;
}

.subtitlu{
    display:flex;
    justify-content: center;
    color:white;
    font-size: 40px;
    padding: 2%;
}

.descriere{
    display: flex;
    justify-self: center;
    flex-direction: column;
}

.descriere_alineat{
    padding: 1%;
    font-size: 125%;
    color: white;
    word-wrap: normal;

}

u{
    color:palevioletred;
}
.div_image{
    display:flex;
    justify-content: center;
}
.image{
    padding: 5%;
    border-radius: 15%;

    max-width: 90%;
    min-width: 20%;

    max-height: 90%;
    min-height: 20%;
}

.cointainer image{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    max-width: 50%;
    min-width: 20%;
}


.activity{
    margin:auto;
    text-align: center;
    padding-right: 3rem;
    color: white;
    font-size: 200%;
}

.image1{
    margin: auto;
    padding: 5%;
    border-radius: 45%;

    width: 150%;
    height: 120%;
}

pre{
    flex-wrap: wrap;
    font-family: cursive;
    font-size: 20px;
    color:palevioletred;
}
.div_link{
    display:flex;
    justify-content: center;
}

.link{
    padding: 5%;
    font-family: cursive;
    font-size: 200%;
    color:rgb(113, 73, 87);
}
.div3{
    max-width: 50%;
    min-width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

