
body{
    background-image: linear-gradient(aqua,blue);
}
.div1{

    display: flex;
    justify-content: center;
}
.title{
    font-size: 100px;
    color: Blue;

}
.animale{
    display :flex;

    justify-content: center;
    justify-content: space-evenly;
}

.animal{
    display: flex;
    flex-direction: column;
}
.div2{
    display: flex;
}
.description{
    flex:5;
    color:darkblue;
    font-weight: bolder;
    font-style: italic;
    font-size: 50;
}
.text{
    flex:5;
    font-size: 20px;
    color:yellow;
    font-style: italic;
}
.descriere_animal{
    font-size: 30px;
    font-style: italic;
    color: aqua;
}
.animalute{
    display: flex;
    justify-content: center;
    font-size: 35px;
    color:yellow;
}
.open{
    font-size: 25px;
    color: green;
}

.closed{
    font-size: 25px;
    color: red;
}

.list{
    font-size: 30px;
    color:blue;
}

.program{
    display:flex;
    font-size: 40px;
    justify-content: center;
    color:brown;
}
ol{
    display: flex;
    justify-content: space-evenly;
}
.hour{
    font-size: 25px;
    color:white;
}